---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About Me'>
  <main>
    <h1>About Me</h1>
    <p>
      Philly based Software Engineer focused on user-centered design.
    </p>
  </main>
</Layout>
