---
import Layout from '../layouts/Layout.astro';

const allPosts = await Astro.glob('../pages/projects/*.md');
---

<Layout title='tomdeh.art'>
  <!-- <h1 class='prose'>Welcome to tomdeh.art</h1> -->
</Layout>
