---
import Layout from '../layouts/Layout.astro';
import PostPreview from '../components/PostPreview.astro';
const allPosts = await Astro.glob('../pages/projects/*.md');
const getFormattedDate = (dateStr: string): string =>
  new Date(dateStr).toLocaleDateString('en-US', {
    year: 'numeric',
    month: 'long',
    day: 'numeric',
  });
---

<Layout title='Projects'>
  <main>
    {
      allPosts.map((post) => (
        <PostPreview
          url={post.url}
          title={post.frontmatter.title}
          date={getFormattedDate(post.frontmatter.date)}
          description={post.frontmatter.description}
        />
      ))
    }
  </main>
</Layout>
