<header class='flex items-center justify-between mb-8'>
  <nav class='flex gap-4'>
    <a
      class='text-slate-900 hover:text-slate-500 active:text-amber-700'
      href='/'>Home</a
    >
    <a
      class='text-slate-900 hover:text-slate-500 active:text-amber-700'
      href='/about'>About</a
    >
  </nav>
</header>
