---
interface Props {
  url?: string;
  title: string;
  description: string;
  date: string;
}

const { url, title, description } = Astro.props;
---

<article>
  <header class='mb-2'>
    <h3 class='mb-2'>
      <a href={url} class='text-4xl font-bold text-amber-600 font-display'
        >{title}</a
      >
    </h3>
  </header>
</article>
<section>
  <p class='mb-8 text-lg'>{description}</p>
</section>
