---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <h1 class='mb-2 text-6xl font-black leading-none font-display'>
    {frontmatter.title}
  </h1>
  <div class='prose'>
    <slot />
  </div>
</Layout>
